.left-contents
  = render partial: 'groups/side_bar'

.main-contents
  .top-contents
    .group-info
      .group-info__group-name
        = @group.name
      .group-info__members
        Member : 
        - @group.users.each do |user| 
          = user.name
    = link_to "Edit", edit_group_path(@group), class: "top-contents__edit-button"

  .middle-contents
    = render @messages

  .bottom-contents
    = form_for [@group, @message] do |f|
      .message-form
        = f.text_field :content, placeholder: 'type a message', class: 'text'
        = f.label :image, class: 'image' do
          = fa_icon 'image'
          = f.file_field :image, class: 'select'
      = f.submit 'Send', class: 'send-button'